%h2
  Rails_websocket_toy got an http request to the /websocket page

%p
  Hit #
  %b= @hit.count
  from:
  = @hit.origin
  = @hit.method

%ul
  %li= @aws_id_msg
  %li= @aws_key_msg

.row
  .column#q1
    %h3 A
    %hr
    %p
      %ul
        %li
          Fred
  .column#q2
    %h3 B
    %hr
    %p
      %ul
        %li
          Jane
  .column#q3
    %h3 C
    %hr
    %p
      %ul
        %li
        -
